:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-200: 276, 100%, 99%;
  --color-neutral-600: 271, 12%, 34%;
  --color-neutral-800: 273, 85%, 13%;
  --color-accent: 150, 100%, 63%;

  // Font
  --fw-regular: 400;
  --fw-semibold: 600;

  --fs-100: 1rem; // 16px
  --fs-200: 1.125rem; // 18px
  --fs-300: 2rem; // 32px
  --fs-500: 3.5rem; // 56px
  --fs-800: 5rem; // 80px

  --ff-copy: 'Manrope', sans-serif;
  --ff-heading: 'Fraunces', serif;

  // Typography
  --leading-300: 32px;
  --leading-400: 40px;
  --leading-600: 64px;
  --leading-800: 80px;

  --tracking-100: -0.18px;
}
