:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-200: 276, 100%, 99%;
  --color-neutral-600: 271, 12%, 34%;
  --color-neutral-800: 273, 85%, 13%;
  --color-accent: 150, 100%, 63%;

  // Font
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-100: 1rem; // 16px
  --fs-200: 1.125rem; // 18px
  --fs-300: 2rem; // 32px
  --fs-500: 3.5rem; // 56px
  --fs-800: 5rem; // 80px

  --ff-copy: 'Manrope', sans-serif;
  --ff-heading: 'Fraunces', serif;

  // Typography
  --leading-200: 28px;
  --leading-300: 32px;
  --leading-400: 40px;
  --leading-600: 64px;
  --leading-800: 80px;

  --tracking-100: -0.18px;

  // Copy
  --copy-fw: var(--fw-regular);
  --copy-fs: var(--fs-100);
  --copy-leading: var(--leading-200);
  --copy-color: hsl(var(--color-neutral-600));

  @media (min-width: 90em) {
    --copy-fs: var(--fs-200);
    --copy-leading: var(--leading-300);
  }

  // Heading
  --heading-ff: var(--ff-heading);

  // Links
  --link-decoration: none;
  --link-fw: var(--fw-bold);
  --link-fs: var(--fs-100);
  --link-ff: var(--ff-copy);
  --link-transition: 200ms ease-in-out all;

  @media (min-width: 90em) {
    --link-fs: var(--fs-200);
  }

  // Buttons
  --btn-fw: var(--link-fw);
  --btn-fs: var(--link-fs);

  --btn-primary-color: hsl(var(--color-neutral-800));
  --btn-primary-color-active: hsl(var(--color-accent));
  --btn-primary-bg: hsl(var(--color-accent));
  --btn-primary-bg-active: transparent;
  --btn-primary-border: 2px solid hsl(var(--color-accent));
  --btn-primary-padding: 0.75rem 1.25rem;

  --btn-secondary-color: hsl(var(--color-neutral-100));
  --btn-secondary-color-active: hsl(var(--color-accent));
  --btn-secondary-border-bottom: 3px solid hsl(var(--color-accent));
  --btn-secondary-padding-bottom: 0.3125rem;

  // Hero
  --hero-padding-block: 4rem 9.75rem;

  @media (min-width: 48em) {
    --hero-pattern-img-size: 18.75rem;

    --hero-pattern-left-img-url: url('../assets/images/bg-pattern-1.svg');
    --hero-pattern-left-img-top-pos: 0;
    --hero-pattern-left-img-left-pos: -12rem;

    --hero-pattern-right-img-url: url('../assets/images/bg-pattern-2.svg');
    --hero-pattern-right-img-right-pos: -10rem;
    --hero-pattern-right-img-bottom-pos: 0;
  }

  @media (min-width: 90em) {
    --hero-pattern-left-img-left-pos: -7rem;
    --hero-pattern-right-img-right-pos: -7rem;
    --hero-pattern-right-img-bottom-pos: 7rem;
    --hero-padding-block: 3.5rem 20.375rem;
  }

  // Hero Content
  --hero-content-color: hsl(var(--color-neutral-100));
  --hero-content-max-width: 21.4375rem;
  --hero-content-heading-fs: 3.125rem; // 50px
  --hero-content-heading-leading: 60px;
  --hero-content-heading-span-border-bottom: 3px solid hsl(var(--color-accent));
  --hero-content-btn-margin-top: 2.5rem;

  @media (min-width: 48em) {
    --hero-content-max-width: 23rem;
    --hero-content-heading-fs: 3.75rem; // 60px
    --hero-content-heading-leading: 70px;
  }

  @media (min-width: 90em) {
    --hero-content-max-width: 33rem;
    --hero-content-heading-fs: var(--fs-800);
    --hero-content-heading-leading: 90px;
  }

  // Hero Image
  --hero-img-margin-top: 4rem;
  --hero-img-width: 20rem;
  --hero-img-height: 11.5rem;

  @media (min-width: 48em) {
    --hero-img-margin-top: 2rem;
    --hero-img-width: 32.125rem;
    --hero-img-height: 18.5rem;
  }

  @media (min-width: 90em) {
    --hero-img-margin-top: 3.125rem;
    --hero-img-width: 47.9375rem;
    --hero-img-height: 27.5625rem;
  }

  // Hero Curve
  --hero-curve-left-pos: 0;
  --hero-curve-bottom-pos: 9rem;
  --hero-curve-fill: hsl(var(--color-neutral-800));

  @media (min-width: 48em) {
    --hero-curve-bottom-pos: 6rem;
  }

  @media (min-width: 90em) {
    --hero-curve-bottom-pos: -8rem;
  }

  // Wrapper
  --wrapper-max-width: 21.4375rem;

  @media (min-width: 48em) {
    --wrapper-max-width: 35.8125rem;
  }

  @media (min-width: 90em) {
    --wrapper-max-width: 69.625rem;
  }

  // Header
  --header-padding-top: 2rem;

  @media (min-width: 90em) {
    --header-padding-top: 3.5rem;
  }

  // Footer
  --footer-row-gap: 3.5625rem;

  --footer-socials-col-gap: 1.75rem;
  --footer-socials-icon-fill: hsl(var(--color-neutral-600));
  --footer-socials-icon-fill-active: hsl(var(--color-neutral-800));
  --footer-socials-transition: var(--link-transition);

  // Attribution
  --attribution-fs: 0.75rem;
  --attribution-color: hsla(var(--color-neutral-600), 0.75);
  --attribution-color-active: hsl(var(--color-neutral-800));
  --attribution-margin-block: 2rem;

  @media (min-width: 48em) {
    --attribution-fs: 0.875rem;
  }

  // Features
  --features-padding-block: 8.875rem 4.4375rem;

  --features-item-margin-top: 2.5rem;
  --featured-item-padding-inline: 0;
  --features-item-heading-fs: 1.75rem;
  --features-item-heading-color: hsl(var(--color-neutral-800));
  --features-item-heading-margin-top: 1.5rem;

  --features-marker-fs: 1.25rem;
  --features-marker-ff: var(--ff-heading);
  --features-marker-color: hsl(var(--color-neutral-800));
  --features-marker-border: 1px solid hsl(var(--color-neutral-800));
  --features-marker-radius: 99vw;
  --features-marker-size: 3rem;

  --features-content-margin-top: 1.5rem;

  --features-curve-fill: hsl(var(--color-neutral-200));

  @media (min-width: 48em) {
    --features-padding-block: 13rem 6.4375rem;
    --featured-item-padding-inline: 0.5rem;
    --features-item-margin-top: 3rem;
    --features-marker-margin-right: 2rem;
    --features-item-heading-margin-top: 0;
    --features-content-margin-top: 1rem;
  }

  @media (min-width: 90em) {
    --features-padding-block: 14.5rem 10.6875rem;
    --featured-item-padding-inline: 0;
    --features-item-margin-top: 0;
    --features-item-heading-fs: var(--fs-300);
    --features-item-heading-margin-top: 3.15rem;
    --features-marker-fs: 1.5rem;
    --features-marker-size: 3.5rem;
    --features-marker-margin-right: 0;
    --features-content-margin-top: 1.75rem;
  }

  // CTA
  --cta-padding-block: 6.25rem 4.625rem;
  --cta-max-width: 21.4375rem;

  --cta-img-width: 17.5625rem;

  --cta-content-text-align: center;
  --cta-content-color: hsl(var(--color-neutral-100));
  --cta-content-bg: hsl(var(--color-neutral-800));
  --cta-content-margin-top: -3.25rem;
  --cta-content-padding: 1.875rem;
  --cta-content-row-gap: 1rem;
  --cta-content-max-width: 21.4375rem;
  --cta-content-heading-fs: var(--fs-300);
  --cta-content-heading-leading: 48px;

  @media (min-width: 48em) {
    --cta-padding-block: 6.25rem 5rem;
    --cta-max-width: 43.0625rem;

    --cta-content-text-align: left;
    --cta-pattern-img-url: url('../assets/images/bg-pattern-3.svg');
    --cta-pattern-img-transform: translate(9rem, 12rem);
    --cta-pattern-img-size: 12rem;
    --cta-content-margin-top: -8rem;
    --cta-content-padding: 3.5rem;
    --cta-content-row-gap: 1.5rem;
    --cta-content-max-width: 32.125rem;
    --cta-content-heading-fs: 3rem;
    --cta-content-heading-leading: 56px;
  }

  @media (min-width: 90em) {
    --cta-padding-block: 6.875rem 7.5625rem;
    --cta-max-width: 69.5rem;

    --cta-img-width: 29.8125rem;

    --cta-pattern-img-transform: translate(11.5rem, 9.875rem);
    --cta-content-margin-top: -19rem;
    --cta-content-padding: 4rem;
    --cta-content-row-gap: 2rem;
    --cta-content-max-width: 45.625rem;
    --cta-content-heading-fs: var(--fs-500);
    --cta-content-heading-leading: var(--leading-600);
  }
}
