:root {
  // Colours
  --color-neutral-100: 0, 0%, 100%;
  --color-neutral-200: 276, 100%, 99%;
  --color-neutral-600: 271, 12%, 34%;
  --color-neutral-800: 273, 85%, 13%;
  --color-accent: 150, 100%, 63%;

  // Font
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --fs-100: 1rem; // 16px
  --fs-200: 1.125rem; // 18px
  --fs-300: 2rem; // 32px
  --fs-500: 3.5rem; // 56px
  --fs-800: 5rem; // 80px

  --ff-copy: 'Manrope', sans-serif;
  --ff-heading: 'Fraunces', serif;

  // Typography
  --leading-200: 28px;
  --leading-300: 32px;
  --leading-400: 40px;
  --leading-600: 64px;
  --leading-800: 80px;

  --tracking-100: -0.18px;

  // Copy
  --copy-fw: var(--fw-regular);
  --copy-fs: var(--fs-100);
  --copy-leading: var(--leading-200);
  --copy-color: hsl(var(--color-neutral-600));

  @media (min-width: 90em) {
    --copy-fs: var(--fs-100);
    --copy-leading: var(--leading-300);
  }

  // Heading
  --heading-ff: var(--ff-heading);

  // Links
  --link-decoration: none;
  --link-fw: var(--fw-bold);
  --link-fs: var(--fs-100);
  --link-ff: var(--ff-copy);
  --link-transition: 200ms ease-in-out all;

  @media (min-width: 90em) {
    --link-fs: var(--fs-200);
  }

  // Buttons
  --btn-fw: var(--link-fw);
  --btn-fs: var(--link-fs);

  --btn-primary-color: hsl(var(--color-neutral-800));
  --btn-primary-color-active: hsl(var(--color-accent));
  --btn-primary-bg: hsl(var(--color-accent));
  --btn-primary-bg-active: transparent;
  --btn-primary-border: 2px solid hsl(var(--color-accent));
  --btn-primary-padding: 0.75rem 1.25rem;

  --btn-secondary-color: hsl(var(--color-neutral-100));
  --btn-secondary-color-active: hsl(var(--color-accent));
  --btn-secondary-border-bottom: 3px solid hsl(var(--color-accent));
  --btn-secondary-padding-bottom: 0.3125rem;

  // Wrapper
  --wrapper-max-width: 21.4375rem;

  @media (min-width: 48em) {
    --wrapper-max-width: 35.8125rem;
  }

  @media (min-width: 90em) {
    --wrapper-max-width: 69.625rem;
  }

  // Header
  --header-padding-top: 2rem;

  @media (min-width: 90em) {
    --header-padding-top: 3.5rem;
  }
}
