@use '../abstracts' as abstract;

body {
  font: var(--copy-fw) var(--copy-fs) var(--ff-copy);
  line-height: var(--copy-leading);
  color: var(--copy-color);
  overflow-x: hidden;
}

.heading {
  font-family: var(--heading-ff);
}

a {
  text-decoration: none;
  font: var(--link-fw) var(--link-fs) var(--link-ff);
  transition: var(--link-transition);
}
