@use '../abstracts' as abstract;

// Manrope
@include abstract.font-face(
  $font-family: 'Manrope',
  $font-path: '../assets/fonts/manrope/Manrope-VariableFont_wght.ttf',
  $font-weight: 400 600
);

// Fraunces
@include abstract.font-face(
  $font-family: 'Fraunces',
  $font-path: '../assets/fonts/fraunces/Fraunces_144pt-SemiBold.ttf',
  $font-weight: 600
);
