.hide-overflow,
.hide-overflow-y,
.hide-overflow-x {
  position: relative;
}

.hide-overflow {
  overflow: hidden;
}

.hide-overflow-y {
  overflow-y: hidden;
}

.hide-overflow-x {
  overflow-x: hidden;
}
