@use '../abstracts' as abstract;

.btn {
  @include abstract.flex;

  font-weight: var(--btn-fw);
  font-size: var(--btn-fs);
  width: fit-content;

  &[data-btn-style='primary'] {
    color: var(--btn-primary-color);
    background-color: var(--btn-primary-bg);
    border: var(--btn-primary-border);
    padding: var(--btn-primary-padding);

    @include abstract.hover-focus-within {
      color: var(--btn-primary-color-active);
      background: var(--btn-primary-bg-active);
    }
  }

  &[data-btn-style='secondary'] {
    color: var(--btn-secondary-color);
    border-bottom: var(--btn-secondary-border-bottom);
    padding-bottom: var(--btn-secondary-padding-bottom);

    @include abstract.hover {
      color: var(--btn-secondary-color-active);
    }
  }
}
