@use '../abstracts' as abstract;

.hero {
  text-align: center;
  padding-block: var(--hero-padding-block);
  position: relative;

  &::before,
  &::after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    width: var(--hero-pattern-img-size);
    height: var(--hero-pattern-img-size);
  }

  &::before {
    background-image: var(--hero-pattern-left-img-url);
    top: var(--hero-pattern-left-img-top-pos);
    left: var(--hero-pattern-left-img-left-pos);
  }

  &::after {
    background-image: var(--hero-pattern-right-img-url);
    right: var(--hero-pattern-right-img-right-pos);
    bottom: var(--hero-pattern-right-img-bottom-pos);
  }

  &__content {
    color: var(--hero-content-color);
    margin-inline: auto;
    max-width: var(--hero-content-max-width);

    .heading {
      font-size: var(--hero-content-heading-fs);
      line-height: var(--hero-content-heading-leading);
      margin-inline: auto;

      span {
        border-bottom: var(--hero-content-heading-span-border-bottom);
      }
    }

    .btn {
      margin-top: var(--hero-content-btn-margin-top);
      margin-inline: auto;
    }
  }

  &__img {
    position: relative;

    img {
      width: var(--hero-img-width);
      height: var(--hero-img-height);
      margin-top: var(--hero-img-margin-top);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
    }
  }
}
