@use '../abstracts' as abstract;

.cta {
  padding-block: var(--cta-padding-block);

  &__img {
    margin-inline: auto;
    width: var(--cta-img-width);

    @media (min-width: 48em) {
      margin-inline: unset;
    }

    img {
      position: relative;
      z-index: -999;
    }
  }

  &__content {
    @include abstract.flex;

    text-align: var(--cta-content-text-align);
    color: var(--cta-content-color);
    background-color: var(--cta-content-bg);
    margin-top: var(--cta-content-margin-top);
    padding: var(--cta-content-padding);
    flex-direction: column;
    row-gap: var(--cta-content-row-gap);
    max-width: var(--cta-content-max-width);

    @media (min-width: 48em) {
      margin-left: auto;
    }

    .heading {
      font-size: var(--cta-content-heading-fs);
      line-height: var(--cta-content-heading-leading);
    }

    .heading,
    .btn {
      @media (min-width: 48em) {
        align-self: flex-start;
      }
    }
  }
}
